/* HTML elementima možemo pristupati na 3 načina. */
/* 1. Preko naziva elementa: p {} */
/* 2. Preko klase: <p class="penis"></p> => .penis {} */
/* 3. Preko id-a: <p id="penis"></p> => #penis {} ..*/

/* GENERAL STYLES */



/* HOMEPAGE STYLES */
/* *************** */

.main-menu li {
    display: inline;
}

/* END HOMEPAGE STYLES */
/* ****************** */

/* STYLE FOOTER COMPONENT */
/* ********************** */

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li{
    padding-left: 20px;
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container a, i{
    padding-left: 10px;
}
